* {
  margin: 0;
}

body {
  width: 1440px;
  height: 900px;
  display: flex;
  flex-direction: column;
}

// App Bar

.app-bar {
  flex-basis: auto;
  height: 48px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.app-bar__nav-icon {
  flex-basis: auto;
  background: url("./assets/nav-icon.svg");
  width: 40px;
  height: 40px;
}

.app-bar__title {
  flex-basis: 100%;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-left: 20px;
}

.app-bar__menu-icon {
  flex-basis: auto;
  justify-self: flex-end;
  background: url("./assets/menu-icon.svg");
  width: 12px;
  height: 24px;
  margin-right: 20px;
}

// Main Container

$tools-width: 228px;
$tools-height: 246px;

.main-container {
  flex-basis: 100%;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tools-panel {
  flex-basis: $tools-width;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

// Instruments

.instruments {
  flex-basis: $tools-height;
  border: 1px solid gray;
  padding: 0;
  margin-top: 40px;
}

.instruments__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

%instruments__item-icon {
  content: "";
  flex: auto 0 0;
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.instruments__item-fill::before {
  @extend %instruments__item-icon;
  background: url("./assets/fill-drip.svg") no-repeat;
}

.instruments__item-choose::before {
  @extend %instruments__item-icon;
  background: url("./assets/eye-dropper.svg") no-repeat;
}

.instruments__item-move::before {
  @extend %instruments__item-icon;
  background: url("./assets/arrows-alt.svg") no-repeat;
}

.instruments__item-transform::before {
  @extend %instruments__item-icon;
  background: url("./assets/exchange-alt.svg") no-repeat;
}

.item-link {
  flex-basis: 100%;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-left: 20px;
}

.item_divider {
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

// Colors

.colors {
  flex-basis: $tools-height;
  border: 1px solid gray;
  padding: 0;
  margin-top: 40px;
}

.colors__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

%colors__item-icon {
  flex: 20px 0 0;
  content: "";
  background: gray;
  border-radius: 50%;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.colors__item-current::before {
  @extend %colors__item-icon;
  background: gray;
}

.colors__item-prev::before {
  @extend %colors__item-icon;
  background: #41f795;
}

.colors__item-history-first::before {
  @extend %colors__item-icon;
  background: #f74141;
}

.colors__item-history-second::before {
  @extend %colors__item-icon;
  background: #41b6f7;
}

.actions-panel {
  flex-basis: $tools-width;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

// Switcher

.switcher {
  flex-basis: $tools-height;
  border: 1px solid gray;
  padding: 0;
  margin-top: 40px;
  .switcher__item {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    &.selected {
      background: lightgray;      
    }
    &::before {
      content: "";
      flex: 10px 0 0;
      width: 10px;
      height: 10px;
      border: 1px solid black;
      margin-left: 10px;
    }
    &-link {
      flex: 100% 1 1;
      cursor: pointer;
      margin-left: 20px;
      font-family: Roboto, Helvetica, sans-serif;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

// Canvas

.canvas-container {
  flex-basis: auto 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
    margin: auto;
    border: 1px solid black;   
    width: 512px;
    height: 512px;
    image-rendering: pixelated;
}