$tools-width: 228px;
$tools-height: 246px;

* {
    margin: 0;
}

body {
    width: 1440px;
    height: 900px;
    display: flex;
    flex-direction: column;    
}

.menu {
    flex-basis: auto;
    height: 48px;
    background: cornsilk;
}

.main-container {
    flex-basis: 100%;
    background: honeydew;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tools-panel {
    flex-basis: $tools-width;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.instruments {
    flex-basis: $tools-height;
    border: 1px solid gray;
}

.colors {
    flex-basis: $tools-height;
    border: 1px solid gray;
}

.tools-panel__empty {
    flex-basis: 150px;
}

.actions-panel {
    flex-basis: $tools-width;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.switcher {
    flex-basis: $tools-height;
    border: 1px solid gray;
    & li {
        list-style: none;
    }
}

.actions-panel__empty {
    flex-basis: 450px;
}

.canvas-container {
    flex-basis: auto 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    margin: auto;
    border: 1px solid black;   
}